{% extends 'base.html' %}
{% block page_data %}
    
    <div class="container mt-5">
        
    <form class="col-6 mx-auto card p-3 shadow-lg" method="POST">
        <h1>Login</h1>
        <hr>
        {% if messages %}
        {{ messages.tag }}
        <div class="alert alert-primary" role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">User name</label>
            <input type="text" class="form-control" id="userName" name="userName">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="pass" name="pass">
          </div>
          <p>Don't have account <a href="/register/">Register</a></p>
          <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}