{% extends 'base.html' %}
{% block page_data %}
    
    <div class="container mt-5">
        
    <form class="col-6 mx-auto card p-3 shadow-lg" enctype="multipart/form-data" method="POST">
        <h1>Update Person</h1>
        {% csrf_token %}
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" value="{{ person.name }}" placeholder="Name">
        </div>
        <div class="mb-3">
          <label for="age" class="form-label">Age</label>
          <input type="number" class="form-control" id="age" name="age" value="{{ person.age }}" placeholder="Age">
        </div>
        <div class="mb-3">
            <label for="file" class="form-label">Insert Image</label>
            <input type="file" class="form-control" id="photo" name="photo" placeholder="Image">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}